@import url('bootstrap-icons');

/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Utilities*/


.container {
  margin: 0 auto;
  max-width: 1024px;
}


/*Grid utilities*/

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0 -1.5rem;
  justify-content: space-between;
}

.col-3 {
  width: calc(100% / 4 - 1rem);
}


/*Header*/
header {
  background-color: black;
  padding: 0.5rem;

  /*Searchbar*/

  .searchbar {
    color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;


    .search {
      font-size: 1rem;

      .my-input {
        border: 1px solid black;
        border-right: none;
        border-radius: 1rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        padding-left: 0.5rem;
        padding: 0.2rem;

        &:focus {
          border: none;
          outline: none;

        }
      }

      .my-btn {
        border: 1px solid black;
        border-radius: 1rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-color: lightgray;
        padding: 0.2rem;
        padding-right: 0.3rem;
      }


    }
  }
}



/*MAIN*/

main {
  background-color: black;

  /*Card*/

  .card {
    position: relative;
    min-height: 300px;

    .img-container {
      .card-img {
        width: 100%;
        object-fit: fill;

      }
    }

    .card-body {
      color: white;
      position: absolute;
      top: 1rem;
      bottom: 1rem;
      left: 2rem;
      right: 1rem;
      display: none;

      .description {
        font-size: 0.8rem;
        max-height: 148px;
        overflow-x: hidden;
        overflow-y: scroll;
        scrollbar-color: #2b2b2b black;

      }

      .language-ico {
        height: 10px;
      }

      .stars {
        font-size: 0.5rem;
        color: yellow;
      }

      .cast {
        font-size: 0.6rem;
      }
    }



    &:hover {


      .img-container {
        display: none;
        /* opacity: 0; */
      }

      .card-body {
        display: block;
      }
    }

  }
}