@import url('bootstrap-icons');

/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Header*/
header {
  background-color: black;
  padding: 0.5rem;

  /*Searchbar*/

  .searchbar {
    color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;


    .search {
      font-size: 1rem;

      .my-input {
        border: 1px solid black;
        border-right: none;
        border-radius: 1rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        padding-left: 0.5rem;
        padding: 0.2rem;

        &:focus {
          border: none;
          outline: none;

        }
      }

      .my-btn {
        border: 1px solid black;
        border-radius: 1rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-color: lightgray;
        padding: 0.2rem;
        padding-right: 0.3rem;
      }
    }
  }
}



/*MAIN*/

main {

  /*Card*/

  .card {

    .language-ico {
      height: 10px;
    }

    .language-txt {}

    .stars {
      font-size: 0.5rem;
    }
  }
}